spacy>=3.0.0,<4.0.0
https://github.com/explosion/spacy-models/blob/master/meta/en_core_web_lg-3.1.0.json
en_core_web_sm==3.0.0
spacy-nightly
streamlit
streamlit_authenticator
streamlit_option_menu
nltk
PyPDF2
pdfplumber
plotly
gensim
pyLDAvis
jsonlines
